@font-face {
  font-family: "Druk Medium Italic";
  src: url("fonts/DrukText-MediumItalic-Cy-Web.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Wide";
  src: url("fonts/drunk-wide.ttf") format("truetype");
}
@font-face {
  font-family: "Druk Text Medium";
  src: url("fonts/DrukText-Medium-Cy-Web.woff2") format("woff2")}
@font-face {
  font-family: "Druk Wide Medium";
  src: url("fonts/DrukTextWide-Medium-Cy-Web.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Wide Heavy";
  src: url("fonts/DrukTextWide-Heavy-Cy-Web.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: "Noway Web Regular";
  src: url("fonts/Noway-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noway Web Medium";
  src: url("fonts/Noway-Medium.woff2") format("woff2");
}