body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
.link{
  margin-bottom: 1.5rem;
  position: relative;
}
/* - - - - - -  D E S K T O P  - - - - - - */
.img-bubbles {
  display: none;
}
.right-grid{
  padding: 2.4%;
}

