body {
  font-family: "Noway Web Regular","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 16px;
}
div p{
  line-height: 1.8em;
  font-family: "Noway Web Regular","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 400;
}
.info-text{
  font-family: "Noway Web Medium", "Gill Sans", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
}
.go-to-project--div{
  font-family: "Druk Wide Heavy","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 0.75rem;
  text-align: center;
}
.section-title {
  font-family:  "Druk Wide Medium","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 0.875em;
}
.link{
  font-family: "Druk Wide Heavy","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 0.75em;
}
.prog-name {
  font-family: "Druk Wide Medium", "Gill Sans", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 0.625em;
}
.prog-info {
  font-family: "Noway Web Regular","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}
.regular {
  font-family:"Druk Text Medium","Gill Sans","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1.9375rem;
  letter-spacing: 2px;
}
